<div class="container">
  <form class="form" ng-submit="preEditEmpleado(vm.modifyEmpleado)">

   
    <div class="form-group">
      <label for="">Nombre completo</label>
      <textarea class="form-control" ng-model="vm.modifyEmpleado.nombreCompleto"></textarea>
    </div>

    

    <div class="form-group">
      <label for="">Codigo</label>
      <input type="text" class="form-control" ng-model="vm.modifyEmpleado.codigo">
    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <label for="">Imagen</label>
        <input type="file" img-upload class="form-control" ng-model="vm.modifyEmpleado.photo">
      </div>
    </div>

    
      <div class="form-group col-md-6">
        <label for="">Fecha de nacimiento</label>
        <input type="date" class="form-control" ng-model="vm.modifyEmpleado.fecha" name="txtBirthdate"
          autocomplete="off" required>
      </div>

    

      <div class="form-group col-md-6">
        <label for="">Correo</label>
        <input type="email" class="form-control" ng-model="vm.modifyEmpleado.correo">
      </div>
      <div class="form-group col-md-6">
        <label for="">Contrasena</label>
        <input type="text" class="form-control" ng-model="vm.modifyEmpleado.contrasena">
      </div>
      
    
    <div class="form-group">
      <button type="sumbmit" class="btn btnReg">Registrar</button>
    </div>
  </form>
</div>