<header-Directive></header-Directive>
<main id="landingPage">
  <section>
    <div class="jumbotron jumbotron-fluid hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7" id="heroContent">
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutBungalow" class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./../../sources/img/capa.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>Noticias de la semana</h1>
        <p>Se le informa a todos nuestros gerentes que el próximo 4 junio se impartirá la capacitación anual de revisión de código, la cual busca mejorar sus habilidades para la detección de errores y el protocolo de reporte.
        </p>

        <p>Queremos felicitar al equipo programathon por su velocidad y eficiencia en el alcance de metas empresariales. Además su aporte en mentoring de los programadores juniors quienes gracias a ellos han terminado su programa de pasantía
        </p>

        <p>El 6 de junio se estarán recogiendo viveres para los más necesitados. En el comedor se encontrará Don Gregorio de 7:00am a 2:00pm recolectandolos.
        </p>
      </div>
    </div>
  </section>

  <section class="container" id="services">
    <h1 class="mt-5">Lo que te ofrecemos en Bungalow</h1>
    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/hotel.svg" alt="Hoteles" width="70" height="70" class="text-center">
          <h5>Hoteles</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/chat.svg" alt="Comentarios" width="70" height="70" class="text-center">
          <h5>Opiniones</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/backpack.svg" alt="Aventuras" width="70" height="70" class="text-center">
          <h5>Aventuras</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
    </div>
  </section>





</main>

<footer>

</footer>