<header-Directive></header-Directive>
<main id="landingPage">
  <section>
    <div class="jumbotron jumbotron-fluid hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7" id="heroContent">
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="aboutBungalow" class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./../../sources/img/letsgo.jpeg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>¿Aventura o negocios? Todo en Bungalow</h1>
        <p>Bungalow es una guía de hospedajes en Costa Rica que nació para todos aquellos viajeros que buscan vivir nuevas experiencias,
          mientras disfrutan de excelentes instalaciones para hospedarse. Adicionalmente, en Bungalow sabemos que no todos
          los viajes son vacaciones, por lo que también te ofrecemos una lista de hoteles en todo el país, para que su estadía
          sea la más placentera.
        </p>
      </div>
    </div>
  </section>

  <section class="container" id="services">
    <h1 class="mt-5">Lo que te ofrecemos en Bungalow</h1>
    <div class="row">
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/hotel.svg" alt="Hoteles" width="70" height="70" class="text-center">
          <h5>Hoteles</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/chat.svg" alt="Comentarios" width="70" height="70" class="text-center">
          <h5>Opiniones</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
      <div class="col-md-4 mt-3">
        <div class="text-center">
          <img src="./../../sources/img/backpack.svg" alt="Aventuras" width="70" height="70" class="text-center">
          <h5>Aventuras</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil vitae amet mollitia incidunt corrupti voluptatibus, atque eveniet ut fugit.</p>
      </div>
    </div>
  </section>





</main>

<footer>

</footer>