<header-Directive></header-Directive>
<main id="landingPage">
  <section>
    <div class="jumbotron jumbotron-fluid align-items-center">
     
    </div>
  </section>
  <section id="aboutBungalow" class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./../../sources/img/capa.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>Noticias de la semana</h1>
        <p>Se le informa a todos nuestros gerentes que el próximo 4 junio se impartirá la capacitación anual de revisión de código, la cual busca mejorar sus habilidades para la detección de errores y el protocolo de reporte.
        </p>

        <p>Queremos felicitar al equipo programathon por su velocidad y eficiencia en el alcance de metas empresariales. Además su aporte en mentoring de los programadores juniors quienes gracias a ellos han terminado su programa de pasantía
        </p>

        <p>El 6 de junio se estarán recogiendo viveres para los más necesitados. En el comedor se encontrará Don Gregorio de 7:00am a 2:00pm recolectandolos.
        </p>
      </div>
    </div>
  </section>

  




</main>

<footer>

</footer>