#headerPrincipal{
  .brandNav {
    background-color: #221D1D;
  }
  .nav-link {
    color: #fff !important;
  }
  .nav-link:hover {
    color: #33b5cc !important;
  }
  .navbar-toggler-icon.icon-bar {
    background-color: #fff !important;
    color: #fff !important;
  }
}