<header-Directive></header-Directive>
<section>
    <div class="jumbotron jumbotron-fluid align-items-center">
     
    </div>
  </section>
  <section class="container-fluid">
    <div class="row">
      
      <div class="col-md-12">
        
        <form name="formregistroEmpleados" ng-submit="vm.preRegistrarTarea(vm.tarea)"novalidate class="col-md-8"
          <!-- Información Personal -->
   
            <h1>Registro tareas</h1>
          
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFirstName">Nombre de la tarea</label>
                <input type="text" class="form-control" ng-model="vm.tarea.nombreTarea" name="txtFirstName"name="txtFirstName"
                  pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
                <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                  <div ng-message="pattern">
                    <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label for="inputFirstName">Descripción de la tarea</label>
                <input type="text" class="form-control" ng-model="vm.tarea.descripcion" name="txtFirstName"name="txtFirstName"
                  pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
                <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                  <div ng-message="pattern">
                    <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
                  </div>
                </div>
              </div>

             
        
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFechaNacimiento">Fecha</label>
                  <input type="date" class="form-control" ng-model="vm.tarea.fecha" name="txtBirthdate"
                    autocomplete="off" required>
                  <div ng-messages="formregistroEmpleados.txtBirthdate.$error" role="alert">
                    <div ng-message="required">
                      <small class="form-text text-muted">Este campo es requerido</small>
                    </div>
                  </div>
                </div>
          
        
                div class="form-group col-md-12">
                <label for="inputFirstName">Prioridad</label>
                <input type="text" class="form-control" ng-model="vm.tarea.prioridad" name="txtFirstName"name="txtFirstName"
                  pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
                <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                  <div ng-message="pattern">
                    <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
                  </div>
                </div>
              </div>


              div class="form-group col-md-12">
              <label for="inputFirstName">Estado</label>
              <input type="text" class="form-control" ng-model="vm.tarea.estado" name="txtFirstName"name="txtFirstName"
                pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
              <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
                <div ng-message="required">
                  <small class="form-text text-muted">Este campo es requerido</small>
                </div>
                <div ng-message="pattern">
                  <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <label>Costo</label>
              <input type="number" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 border-dark" ng-model="vm.empleado.costo" required >
          </div>
            

          div class="form-group col-md-12">
          <label for="inputFirstName">Nombre del proyecto</label>
          <input type="text" class="form-control" ng-model="vm.tarea.proyecto" name="txtFirstName"name="txtFirstName"
            pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
          <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
            <div ng-message="required">
              <small class="form-text text-muted">Este campo es requerido</small>
            </div>
            <div ng-message="pattern">
              <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
            </div>
          </div>
        </div>
              
            

              <button type="submit" class="btn btnAction" ng-disabled="formregistroEmpleados.$invalid">Registrar</button>
            </div>
          </div>
        
          
        </form>
      </div>
     
    </div>
  </section>
  </div>