<header-Directive></header-Directive>
<section>
    <div class="jumbotron jumbotron-fluid align-items-center">
     
    </div>
  </section>
  <section class="container-fluid">
    <div class="row">
      
      <div class="col-md-12">
        
        <form name="formregistroEmpleados" ng-submit="vm.modificarEmpleado(vm.empleadoPorEditar)"novalidate class="col-md-8" >
          <!-- Información Personal -->
   
            <h1>Registro empleados</h1>
          
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFirstName">Nombre completo</label>
                <input type="text" class="form-control" ng-model="vm.empleadoPorEditar.nombreCompleto " name="txtFirstName"
                  pattern="[ñáéíóúA-Za-z ]+" autocomplete="off" required>
                <div ng-messages="formregistroEmpleados.txtFirstName.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                  <div ng-message="pattern">
                    <small class="form-text text-muted">Formato incorrecto, no se permite ingresar numeros</small>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <label>* ID de empleado</label>
                <input type="number" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 border-dark" ng-model="vm.empleadoPorEditar.codigo" required >
            </div>
        
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="">Foto del empleado</label>
                  <input type="file" files-Input ng-model="vm.empleadoPorEditar.photo">
                </div>
              </div>
        
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFechaNacimiento">Fecha de nacimiento</label>
                  <input type="date" class="form-control" ng-model="vm.empleadoPorEditar.fecha" name="txtBirthdate"
                    autocomplete="off" required>
                  <div ng-messages="formregistroEmpleados.txtBirthdate.$error" role="alert">
                    <div ng-message="required">
                      <small class="form-text text-muted">Este campo es requerido</small>
                    </div>
                  </div>
                </div>
          
        
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Correo Electrónico:</label>
                <input type="email" class="form-control" ng-model="vm.empleadoPorEditar.correo" name="txtClientEmail" autocomplete="off"
                  required>
                <div ng-messages="formregistroEmpleados.txtClientEmail.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail">Contraseña:</label>
                <input type="password" class="form-control" ng-model="vm.empleadoPorEditar.contrasena" name="txtClientPassword" autocomplete="off"
                  required>
                <div ng-messages="formregistroEmpleados.txtClientPassword.$error" role="alert">
                  <div ng-message="required">
                    <small class="form-text text-muted">Este campo es requerido</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Confirme su contraseña:</label>
              <input type="password" class="form-control" ng-model="vm.empleadoPorEditar.confirmarContrasena" name="txtClientPassword" autocomplete="off"
                required>
              <div ng-messages="formregistroEmpleados.txtClientPassword.$error" role="alert">
                <div ng-message="required">
                  <small class="form-text text-muted">Este campo es requerido</small>
                </div>
              </div>
            </div>
          </div>

              <button type="submit" class="btn btnAction" ng-disabled="formregistroEmpleados.$invalid">Registrar</button>
            </div>
          </div>
        
          
        </form>
      </div>
     
    </div>
  </section>
  </div>